#titleInput {
   white-space: pre-wrap;
   height: 50px;
   width: 500px;
   max-width: 90vw;
   padding: 0px;

}

#bodyInput {
   white-space: pre-wrap;
   height: 50px;
   width: 500px;
   max-width: 90vw;
   padding: 0px;
}

body {
  text-align: :center;
}

.center {
   text-align: center;
}

.left {
   text-align: left;
}

.right {
   text-align: right;
}

#scanner-data{
  background-color:#bb6bdb;
}

tr, td {
    border: 1px solid black;
}

.button {
  background: #ffc969;
  padding:10px 10px;
  margin: 5%;
  margin-bottom: 0px;
  color: black;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
} 

.active-button {
  background: #aad4f2;
  padding:10px 10px;
  margin: 5%;
  margin-bottom: 0px;
  color: black;
  font-weight: 600;
  font-size: large;
  cursor: pointer;
}
